.home{
    margin-top: var(--header-margin);
    justify-items: center;
}
.home > .contacts{
    display: flex;
    gap: 100px;
}
.home > .contacts > a,
.home > .contacts > .phone-number{
    min-width: 250px;
}
.card-container{
    display: grid;
    width: 90vw;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
}
.card-container > .card{
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--color-primary);
}
.card-container > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.card-container > p{
    font-style: italic;
    font-weight: 600;
    font-size: 0.9em;
    color: white;
    align-content: center;
    padding: 0 50px;
}
.card-container > a{
    margin: 0 auto;
    transition: var(--transition-speed);
}
.card-container > h3{
    font-size: 2em;
    color: white;
    font-weight: 700;
    text-align: center;
    align-self: center;
    text-decoration-line: underline;
    text-decoration-color: #A91125;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #A91125;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    padding: 5px;
}
.card-about, .card-cakes{
    grid-template-columns: 137.5px 137.5px 1fr;
    grid-template-rows: 25px 150px 75px 25px 10px;
}
.card-about > .card, .card-cakes > .card{
    grid-column: 2 / -1;
    grid-row: 2 / 4 ;
    background-color: var(--color-primary);
}
.card-about > img, .card-cakes > img{
    grid-column: 1 / 3 ;
    grid-row: 1 / -2 ;
}
.card-about > p, .card-cakes > p{
    grid-column: 3 / -1 ;
    grid-row: 2 / 3 ;
}
.card-about > a, .card-cakes > a{
    grid-column: 3 / -1 ;
    grid-row: 3 / 4 ;
    background-color: white;
    color: var(--color-secondary);
}
.card-about > a:hover, .card-cakes > a:hover{
    background-color: var(--color-secondary);
    color: white;
}
.card-cookies{
    grid-template-columns: 1fr 162.5px 162.5px;
    grid-template-rows: 50px 75px 150px 50px 10px;
}
.card-cookies > .card, .card-facebook > .card{
    grid-column: 1 / -2;
    grid-row: 2 / 4 ;
    background-color: var(--color-secondary);
}
.card-cookies > img, .card-facebook > img{
    grid-column: -3 / -1 ;
    grid-row: 1 / -2 ;
}
.card-cookies > p{
    grid-column: 1 / 2 ;
    grid-row: 3 / 4 ;
}
.card-cookies > h3{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3 ;
}
.card-facebook{
    grid-template-columns: 1fr 112.5px 112.5px;
    grid-template-rows: 25px 100px 75px 25px 10px;
}
.card-facebook > p{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3 ;
}
.card-facebook > a{
    grid-column: 1 / 2 ;
    grid-row: 3 / 4 ;
    background-color: var(--color-primary);
    color: white;
}
.card-facebook > a:hover{
    background-color: white;
    color: var(--color-primary);
}

@media (max-width: 800px){
    .home > .contacts{
        flex-direction: column;
        gap: 10px;
        margin: 25px 0;
    }
    .home > .contacts > a,
    .home > .contacts > .phone-number{
        margin: 10px auto;
    }
    .card-container{
        width: 85vw;
        grid-template-columns: 1fr 45vw 1fr;
        grid-template-rows: 22.5vw 22.5vw 175px 75px;
    }
    .card-container > .card{
        grid-row: 2 / -1; 
        grid-column: 1 / -1;
        margin-bottom: 5px;
    }
    .card-container > img{
        grid-row: 1 / 3; 
        grid-column: 2;
    }
    .card-container > p{
        grid-row: 3 / 4; 
        grid-column: 1 / -1;
        padding: 0 30px;
    }
    .card-container > a{
        grid-row: -2 / -1; 
        grid-column: 1 / -1;
    }
    .card-cookies{
        grid-template-columns: 1fr 50vw 1fr;
        grid-template-rows: 25vw 25vw 75px 190px;
    }
    .card-cookies > h3{
        grid-row: 3 / 4; 
        grid-column: 1 / -1;
        font-size: 1.5em;
    }
    .card-cookies > p{
        grid-row: -2 / -1; 
        grid-column: 1 / -1;
    }

    .card-facebook{
        grid-template-rows: 22.5vw 22.5vw 125px 75px;
    }
}