.menu{
    padding: 0 50px;
    margin-top: var(--header-margin);
    width: 100%;
    max-width: 1400px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: calc(80vh - 150px);
}
.menu > .body-title{
    margin-bottom: 25px;
}
.menu > .search-container{
    position: relative;
    display: flex;
    align-content: stretch;
    gap: 25px;
    overflow: visible;
}
.menu > .search-container > .filter-toggle{
    width: 45px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: border 0.2s;
    border: solid 2px transparent;
}
.menu > .search-container > .filter-toggle:hover{
    border: solid 2px var(--color-primary);
}
.menu .popular-items{
    display: flex;
    align-content: stretch;
    gap: 15px;
    flex-wrap: wrap;
}
.menu > .menu-items{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 25px;
    overflow: hidden;
}
.break{
    width: 100%;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 5px auto;
}

@media (max-width: 800px){
    .menu{
        padding: 0 15px;
    }
}

@media (max-width: 400px){
    .menu{
        padding: 0 7.5px;
    }
}
