.search-bar{
    flex: 1;
    min-width: 0;
    padding: 0 25px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px transparent;
    transition: border 0.2s;
}
.search-bar:focus{
    outline: none;
    border: solid 2px var(--color-primary);
}