main{
    display: block;
    justify-self: center;
    justify-items: center;
    width: 100%;
    max-width: 1400px;
}
.grid{
    display: grid;
    grid-template-columns: 67% 8% 25%;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.grid .A{
    background-color: #181818;
    background-image: url('../images/contact-background2.png');
    background-position: center;
    background-size: cover;
    min-height: 300px;
    border-radius: 10px;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}
.grid .C{
    background-color: #A91125;
    border-radius: 10px;
    width: 100%;
    grid-row: 1;
    grid-column: 3;
    align-content: space-around;
}
form{
    display: block;
    width: 100%;
    justify-items: center;
}
form .container{
    display: grid;
    grid-template-columns: 25% 70%;
    width: 100%;
    justify-items: center;
    margin: 50px 0;
}
form label{
    width: 90%;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
    text-align: right;
}
form input{
    width: 90%;
    height: 50px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0 5px;
    margin: 3px;
    font-weight: 700;
    font-size: 18px;
    appearance: none;
    -webkit-appearance: none;
}
form input:focus{
    border: none;
}
form textarea{
    width: 90%;
    height: 200px;
    background: #F9F9F9;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    font-weight: 700;
    font-size: 18px;
}
form button{
    background-color: #A91125;
    width: 70%;
}
form button:hover{
    background-color: white;
    color: #181818;
}
form button:focus{
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.grid .C span{
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
    margin: 50% 0;
}
.grid .C span a{
    font-size: 0.7em;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.grid .C span a:hover{
    color: #181818;
}
@media (max-width: 850px){
    .grid{
        display: block;
    }
    .grid .C{
        min-height: 150px;
        margin-bottom: 50px;
        align-content: center;
    }
    .grid .C span{
        margin: 0;
    }
}
@media (max-width: 600px){
    form label{
        width: 90%;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.2em;
    }
    form .container{
        grid-template-columns: 30% 65%;
    }
    .grid .C span{
        font-size: 1.2em;
        line-height: 1.5em;
    }
    form input{
        font-size: 1em;
    }
    form input:focus{
        border: none;
    }
    form textarea{
        font-size: 1em;
    }
}