.header{
    height: 600px;
    /*background-size: 100% 100%;*/
    background-position: center center; /*Center the image horizontally and vertically */
    background-size: cover;/* Scale the image to cover the entire area */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 1.5s;
}
.img1{
    background-image: url("../images/header-background-1.png");
}
.img2{
    background-image: url("../images/header-background-2.png");
}
.img3{
    background-image: url("../images/header-background-3.png");
}
.img4{
    background-image: url("../images/header-background-4.png");
}
.img5{
    background-image: url("../images/header-background-5.png");
}
.img6{
    background-image: url("../images/header-background-6.png");
}
.img7{
    background-image: url("../images/header-background-7.png");
}
.img8{
    background-image: url("../images/header-background-8.png");
}
.img9{
    background-image: url("../images/header-background-9.png");
}
.header > span{
    color: white;
    font-weight: 700;
    font-size: 1.75em;
    text-align: center;
    padding: 10px;
    margin: 0 6vw;
    letter-spacing: 0.2em;
    transition: 2.5s;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color: #A91125;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #A91125;
    text-underline-offset: 10px;
    transition: 1s;
}
.header > span::before{
    filter:blur(10px);
}
.header > span::after{
    filter:blur(0px);
}
.break{
    height: 2px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #A91125;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}
p{
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2em;
    color: #FFFFFF;
    padding: 25px;
    align-self: center;
}
.content{
    max-width: 1200px;
    justify-self: center;
    width: 90%;
    margin: auto;
}
.content .container{
    display: grid;
    width: 100%;
    justify-content: center;
    margin: 25px auto;
}
/* about card */
.about{
    width: 90%;
    grid-template-columns: 1fr 150px 150px;
    grid-template-rows: 25px 150px 100px 25px 10px;
}
.about .about-card{
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    grid-column: 1 / 3;
    grid-row: 2 / 4 ;
}
.about .about-button{
    grid-column: 1 / 2 ;
    grid-row: 3 / 4 ;
}
.about .about-button button{
    background-color: #A91125;
}
.about .about-button button:hover{
    background-color: white;
    color: #A91125;
}
.about .about-p{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3 ;
}
.about .about-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

    grid-column: 2 / -1 ;
    grid-row: 1 / -2 ;
}
/* cake card */
.cake{
    width: 90%;
    grid-template-columns: 150px 150px 1fr;
    grid-template-rows: 25px 150px 100px 25px 10px;
}
.cake .cake-card{
    background-color: #A91125;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    grid-column: 2 / -1 ;
    grid-row: 2 / 4 ;
}
.cake .cake-p{
    grid-column: 3 / -2 ;
    grid-row: 2 / 3 ;
}
.cake .cake-button{
    grid-column: 3 / 4 ;
    grid-row: 3 / 4 ;
}
.cake .cake-button button{
    background-color: white;
    color: #181818;
}

.cake .cake-button button:hover{
    background-color: #181818;
    color: white;
}
.cake .cake-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

    grid-column: 1 / 3 ;
    grid-row: 1 / -2 ;
}
/* facebook card */
.facebook{
    width: 90%;
    grid-template-columns: 1fr 125px 125px;
    grid-template-rows: 25px 100px 100px 25px 10px;
}
.facebook .facebook-card{
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    grid-column: 1 / 3;
    grid-row: 2 / 4 ;
}
.facebook .facebook-p{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3 ;
}
.facebook .facebook-button{
    grid-column: 1 / 2 ;
    grid-row: 3 / 4 ;
}
.facebook .facebook-button button{
    background-color: #A91125;
}
.facebook .facebook-button button:hover{
    background-color: white;
    color: #A91125;
}
.facebook .facebook-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

    grid-column: 2 / -1 ;
    grid-row: 1 / -2 ;
}

@media (max-width: 900px){
    .header{
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }
    .header > span{
        margin: 50px;
        padding: 10px;
        font-size: 1.4em;
        line-height: 1.5em;
    }
}
@media (max-width: 800px){
    /* about card */
    .about{
        width: 95%;
        grid-template-columns: 20% minmax(180px, 225px) 20%;
        grid-template-rows: 112.5px 112.5px 175px 100px;
    }
    .about .about-card{
        grid-column: 1 / -1;
        grid-row: 2 / -1 ;
    }
    .about .about-button{
        grid-column: 1 / -1;
        grid-row: 4 / 5 ;
    }
    .about .about-button button{
        width: 65%;
        background-color: #A91125;
    }
    .about .about-p{
        text-align: center;

        grid-column: 1 / -1;
        grid-row: 3 / 4 ;
    }
    .about .about-img{
        grid-column: 2;
        grid-row: 1 / 3 ;
    }
    /* cake card */
    .cake{
        width: 95%;
        grid-template-columns: 20% minmax(180px, 225px) 20%;
        grid-template-rows: 112.5px 112.5px 175px 100px;
    }
    .cake .cake-card{
        background-color: #A91125;

        grid-column: 1 / -1;
        grid-row: 2 / -1 ;
    }
    .cake .cake-p{
        text-align: center;

        grid-column: 1 / -1;
        grid-row: 3 / 4 ;
    }
    .cake .cake-button{
        grid-column: 1 / -1;
        grid-row: 4 / 5 ;
    }
    .cake .cake-button button{
        width: 65%;
    }
    .cake .cake-img{
        grid-column: 2;
        grid-row: 1 / 3 ;
    }
    /* facebook card */
    .facebook{
        width: 95%;
        grid-template-columns: 20% minmax(180px, 225px) 20%;
        grid-template-rows: 112.5px 112.5px 100PX 100px;
    }
    .facebook .facebook-card{
        grid-column: 1 / -1;
        grid-row: 2 / -1 ;
    }
    .facebook .facebook-p{
        text-align: center;

        grid-column: 1 / -1;
        grid-row: 3 / 4 ;
    }
    .facebook .facebook-button{
        grid-column: 1 / -1;
        grid-row: 4 / 5 ;
    }
    .facebook .facebook-button button{
        width: 65%;
        background-color: #A91125;
    }
    .facebook .facebook-img{
        grid-column: 2;
        grid-row: 1 / 3 ;
    }
}