body{
    background-image: url("../images/background-dots.png");
    background-size: 300px;
    background-repeat: repeat;
}
.menu-sections{
    /*display: grid;
    grid-template-columns: repeat(3, 400px);*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    width: 90%;
    max-width: 1400px;
    justify-content: start;
    align-items: center;
    max-height: 2150px;
}
.container{
    display: block;
    justify-items: center;
    width: 400px;
    margin-top: 25px;
}
.container .menu-break{
    width: 400px;
    height: 4px;
    background: #A91125;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 2.5px;
}
.container .item-cost{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container .item-cost h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
    min-width: 90px;
}
.container .item-cost .price{
    font-weight: 600;
    color: #A91125;
}
.container p{
    justify-self: start;
    font-weight: 600;
    margin-left: 25px;
    margin-top: 15px;
}
.container ul{
    justify-self: start;
    list-style-type: disc;
}
.container ul li{
    list-style-position: inside;
    margin-left: 35px;
    font-size: 0.95em;
}
.menu-img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    justify-self: center;
    margin: 20px auto;
    border: 3px solid #A91125;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.container .center li{
    margin-left: 75px;
}
.container .two-col{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.container .two-col div{
    width: 200px;
}
.container .two-col p{
    margin-left: 0px;
}
.container .two-col li{
    margin-left: 10px;
}
.container .dozen{
    display: block;
    font-size: 0.8em;
    font-style: italic;
    justify-self: start;
    margin-left: 30px;
}

@media (max-width: 1350px){
    /* set to 2 column */
    .menu-sections{
        max-height: 3500px;
        max-width: 1000px;
        width: 95%;
    }
}

@media (max-width: 900px){
    /* set to 1 column */
    .menu-sections{
        max-height: none;
    }
}

@media (max-width: 600px) {
    .container .menu-break{
        width: 350px;
    }
    .container{
        width: 350px;
    }
    .container .item-cost h3{
        font-weight: 400;
        font-size: 1.25em;
        line-height: 1.5em;
        color: #000000;
        text-transform: uppercase;
        min-width: 75px;
    }
    .menu-sections{
        width: 100%;
    }
    .menu-img{
        width: 250px;
        height: 250px;
    }
}