nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 225px;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.nav-lg ul > a{
    min-height: 170px;
    margin: 25px 0px;
    padding: 0px;
    transition: 0.5s;
    overflow: hidden;
}
.nav-lg ul > a img{
    height: 170px;
    transition: 0.75s;
}
.nav-lg ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-lg ul > li > a{
    display: block;
    width: 130px;
    text-align: center;
    margin-top: 50px;
}
.nav-lg a{
    height: 50px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4em;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.nav-lg a:hover{
    color: #B50030;
}
.nav-lg ul > a > img{
    height: 170px;
}
.scrolling .nav-lg ul > a{
    transition: 1s;
}
.scrolling .nav-lg ul > a img{
    height: 100px;
    margin: 0px;
    transition: 1s;
}
.scrolling{
    height: 150px;
    transition: 1s;
}
.scrolling .nav-lg ul > a{
    min-height: 100px;
}
body .display-hide{
    display: none;
}
@media (min-width: 801px){
    body .display-show{
        display: none;
    }
}
@media (max-width: 800px){
    nav{
        height: 150px;
    }
    body{
        margin-top: 150px;
    }
    body .nav-lg{
        display: none;
    }
    body .nav-sm{
        display: flex;
        justify-content: space-between;
    }
    body .nav-sm img{
        height: 100px;
        margin: 25px;
    }
    body .nav-sm .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        margin: auto 2px;
        margin-top: 45px;
        width: 160px;
    }
    body .nav-sm .top a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 1em;
        transition: .2s;
    }
    body .nav-sm .top a:hover{
        color: #C50538;
    }
    body .nav-sm .top img{
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    body .display-show{
        display: block;
        position: fixed;
        top: 105px;
        right: 0;
        background-color: white;
        padding: 2px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        z-index: 1;;
    }
    body .display-show a{
        display: flex;
        justify-self: end;
        width: 150px;
        height: 20px;
        background-color: #e0e0e0;
        padding: 10px;
        margin: 2px;
        transition: 0.2s;
    }
    body .display-show a:hover{
        background-color: #A91125;
        color: white;
    }
    body .display-show a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 1em;
    }
}